/.idea/*
.klive/
*.classpath
*.project
*.iml
target/
**.settings/

**.zip
*.bak
.metadata/
*.class
*.o
*.cproject
*.jar
*.pst

logs/
*.log

bin/
Debug/

HibernateInAction/
tmp/

DS/
/TapestryInAction/
*.checkstyle

.externalToolBuilders/
