<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>WD simple project</display-name>

	<servlet>
		<servlet-class>com.caribe.stone.wd.RegisterServlet</servlet-class>
		<servlet-name>registerServlet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>registerServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-class>com.caribe.stone.wd.LoginServlet</servlet-class>
		<servlet-name>loginServlet</servlet-name>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>loginServlet</url-pattern>
	</servlet-mapping>


	<!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring Context 
		Loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>
	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>com.caribe.stone.wd.listener.WDListener</listener-class>
	</listener>
</web-app>
